{# templates/receipt/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Consulta de Recibos de Pago</title>
</head>
<body>
    <h1>Consulta de Recibos de Pago</h1>

    <form method="post">
        <label for="id_number">Número de Identificación:</label>
        <input type="text" id="id_number" name="id_number" required>

        <label for="other_identifier">Otro Identificador:</label>
        <input type="text" id="other_identifier" name="other_identifier" required>

        <button type="submit">Consultar</button>
    </form>

    {% if transfer %}
        <h2>Recibos por transferencia:</h2>
        <p>Nombre: {{ transfer[0].name }}</p>
        <table>
            <tr>
                <th scope="col">Recibo</th>
                <th scope="col">Estudante</th>
                <th scope="col">Item</th>
                <th scope="col">Observaciones</th>
            </tr>
        {% for item in transfer %}
            <tr>
                <td><a href="/drive/file/{{ item.receiptFile }}">Descargar</a></td>
                <td>{{ item.student }}</td>
                <td>{{ item.item }}</td>
                <td>{{ item.desc }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    {% if box %}
        <h2>Recibos por sobre:</h2>
        <p>Nombre: {{ box[0].name }}</p>
        <table>
            <tr>
                <th scope="col">Recibo</th>
                <th scope="col">Estudante</th>
                <th scope="col">Mes</th>
            </tr>
        {% for item in box %}
            <tr>
                <td><a href="/drive/file/{{ item.receiptFile }}">Descargar</a></td>
                <td>{{ item.student }}</td>
                <td>{{ item.month }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</body>
</html>
